config.json
logs
test.js
Lavalink.jar
.vscode
/dist
/JarDecomp

# node modules is a fun folder
# and apparantly using ! does not work so we do this
node_modules/.bin
node_modules/@discordjs
node_modules/@eslint
node_modules/@humanwhocodes
node_modules/@lavaclient
node_modules/@nodelib
node_modules/@sapphire
node_modules/@sindresorhus
node_modules/@tokenizer
node_modules/@types
node_modules/@typescript-eslint
node_modules/acorn
node_modules/acorn-jsx
node_modules/ajv
node_modules/ansi-regex
node_modules/ansi-styles
node_modules/argparse
node_modules/array-union
node_modules/asynckit
node_modules/balanced-match
node_modules/boolbase
node_modules/brace-expansion
node_modules/braces
node_modules/busboy
node_modules/callsites
node_modules/chalk
node_modules/cheerio
node_modules/cheerio-select
node_modules/cliui
node_modules/color-convert
node_modules/color-name
node_modules/combined-stream
node_modules/concat-map
node_modules/concurrently
node_modules/cross-spawn
node_modules/css-select
node_modules/css-what
node_modules/date-fns
node_modules/debug
node_modules/deep-is
node_modules/delayed-stream
node_modules/dir-glob
node_modules/discord-api-types
node_modules/discord.js
node_modules/doctrine
node_modules/dom-serializer
node_modules/domelementtype
node_modules/domhandler
node_modules/domutils
node_modules/emoji-regex
node_modules/entities
node_modules/escalade
node_modules/escape-string-regexp
node_modules/eslint
node_modules/eslint-scope
node_modules/eslint-utils
node_modules/eslint-visitor-keys
node_modules/espree
node_modules/esquery
node_modules/esrecurse
node_modules/estraverse
node_modules/esutils
node_modules/fast-deep-equal
node_modules/fast-glob
node_modules/fast-json-stable-stringify
node_modules/fast-levenshtein
node_modules/fastq
node_modules/file-entry-cache
node_modules/file-type
node_modules/fill-range
node_modules/find-up
node_modules/flat-cache
node_modules/flatted
node_modules/form-data
node_modules/fs.realpath
node_modules/get-caller-file
node_modules/glob
node_modules/glob-parent
node_modules/globals
node_modules/globby
node_modules/grapheme-splitter
node_modules/has-flag
node_modules/htmlparser2
node_modules/ieee754
node_modules/ignore
node_modules/import-fresh
node_modules/imurmurhash
node_modules/inflight
node_modules/inherits
node_modules/is-extglob
node_modules/is-fullwidth-code-point
node_modules/is-glob
node_modules/is-number
node_modules/is-path-inside
node_modules/isexe
node_modules/js-sdsl
node_modules/js-yaml
node_modules/json-schema-traverse
node_modules/json-stable-stringify-without-jsonify
node_modules/levn
node_modules/locate-path
node_modules/lodash
node_modules/lodash.merge
node_modules/lodash.snakecase
node_modules/lodash.uniqwith
node_modules/lru-cache
node_modules/merge2
node_modules/micromatch
node_modules/mime-db
node_modules/mime-types
node_modules/minimatch
node_modules/minimist
node_modules/ms
node_modules/natural-compare
node_modules/node-fetch
node_modules/nth-check
node_modules/once
node_modules/optionator
node_modules/p-limit
node_modules/p-locate
node_modules/parent-module
node_modules/parse5
node_modules/parse5-htmlparser2-tree-adapter
node_modules/path-exists
node_modules/path-is-absolute
node_modules/path-key
node_modules/path-type
node_modules/peek-readable
node_modules/picomatch
node_modules/prelude-ls
node_modules/punycode
node_modules/queue-microtask
node_modules/readable-stream
node_modules/readable-web-to-node-stream
node_modules/regexpp
node_modules/require-directory
node_modules/resolve-from
node_modules/reusify
node_modules/rimraf
node_modules/run-parallel
node_modules/rxjs
node_modules/safe-buffer
node_modules/semver
node_modules/shebang-command
node_modules/shebang-regex
node_modules/shell-quote
node_modules/slash
node_modules/spawn-command
node_modules/streamsearch
node_modules/string_decoder
node_modules/strip-ansi
node_modules/string-width
node_modules/strip-json-comments
node_modules/strtok3
node_modules/supports-color
node_modules/text-table
node_modules/tiny-typed-emitter
node_modules/to-regex-range
node_modules/token-types
node_modules/tr46
node_modules/tree-kill
node_modules/ts-mixer
node_modules/tslib
node_modules/tsutils
node_modules/type-check
node_modules/type-fest
node_modules/typescript
node_modules/undici
node_modules/uri-js
node_modules/util-deprecate
node_modules/webidl-conversions
node_modules/whatwg-url
node_modules/which
node_modules/word-wrap
node_modules/wrap-ansi
node_modules/wrappy
node_modules/ws
node_modules/y18n
node_modules/yallist
node_modules/yargs
node_modules/yargs-parser
node_modules/yocto-queue
node_modules/.package-lock.json
node_modules/lavaclient/dist/index.js
node_modules/lavaclient/dist/index.mjs
node_modules/lavaclient/dist/lib
node_modules/lavaclient/node_modules
node_modules/lavaclient/LICENSE
node_modules/lavaclient/README.md
node_modules/lavaclient/package.json


!node_modules/lavaclient/dist/index.d.ts